* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: GmarketSansMedium;
  color: white;
}

.App {
  background-color: black;
  height: 500vh;
  width: 100vw;
  top: 0;
  position: relative;
}

.view {
  width: 1200px;
  height: 100vh;
  padding:3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid white;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.progress-box {
  width: 400px;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

.progress-box-button {
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  overflow: unset;
}

.progress-box-button:hover {
  background-color: orange;
}

.progress-box-button:active {
  background-color: rgb(255, 255, 255);
}

.progress-box-button:hover > .progress-box-title {
  opacity: 1;
}

.active {
  background-color: orange;
  transition: all 0.3s;
}

.progress-box-title {
  position: absolute;
  top: 20px;
  left: -30%;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: omyu_pretty;
  font-size: 1rem;
}

.mainview-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.mainview-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 7rem;
}

.mainview-title div {
  font-family: omyu_pretty;
}

.title {
  font-size: 3rem;
  margin: 1rem;
  border-bottom: 1px solid white;
  padding: 0.3rem;
}

.info-profile {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 0 1rem;
  padding: 0 1rem 1rem 1rem;
  height: 35%;
}

.profile-img {
  background-color: #cccccc;
  width: 160px;
  height: 202px;
  border-radius: 10px;
}

.profile-info {
  margin-left: 13px;
  height: 100%;
}

.profile-name {
  font-size: 3rem;
  letter-spacing: 10px;
  height: 50px;
}

.profile-name-eng {
  font-size: 1.9rem;
}

.profile-birthday {
  font-size: 1.9rem;
}

.info-detail-tab {
  display: flex;
  align-items: end;
  margin: 12px 16px;
  gap: 12px;
  height: 35px;
}

.info-detail-tab-button {
  transition: font-size 0.3s ease;
  cursor: pointer;
}

.info-detail-tab-button:hover {
  font-weight: bold;
}

.selected-tab {
  font-weight: bold;
  font-size: 1.7rem;
}

.info-detail-content {
  /* height: 100%; */
  margin: 0 16px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.projects-list-content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-list-pages {
  height: 30px;
  width: 100%;
  /* border: 3px dotted white; */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projects-list-pages button {
  background-color: transparent;
  border: 1px solid white;
  width: 20px;
  transition: all 0.2s;
}

.projects-list-pages button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.projects-list-pages button:active {
  background-color: black;
  color: white;
  /* font-weight: bold; */
}

.projects-list-item {
  height: 200px;
  /* border: 2px white dotted; */
  margin: 1rem;
  width: 900px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  padding: 1rem;
  animation: fadein 1s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects-list-item-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    20deg,
    rgb(255, 255, 255, 0.2),
    rgb(255, 255, 255, 0)
  );
  opacity: 0;
  transition: all 0.3s;
}

.projects-list-item-thumbnail {
  /* background-color: orange; */
  width: 35%;
  padding: 0.4rem;
  display: flex;
}

.projects-list-item-thumbnail img {
  margin-left: auto;
  margin-right: auto;
}

.projects-list-item-content {
  /* background-color: violet; */
  width: 65%;
  padding: 0.4rem;
}

.projects-list-item-content-title {
  height: 60px;
  line-height: 1;
}

.projects-list-item:hover > .projects-list-item-hover {
  opacity: 1;
}

.projects-list-item-content-title {
  font-size: 3rem;
}

.projects-detail {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.projects-detail-window {
  width: 1000px;
  border: 1px solid white;
  height: 700px;
  background-color: rgb(220, 220, 220);
  animation: doOpenWindow 1s;
  position: relative;
  padding: 1rem;
}

@keyframes doOpenWindow {
  from {
    width: 0;
  }
  to {
    width: 1000px;
  }
}

.contact-list {
  display: flex;
  width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-bottom: 100px;
}

.contact-list a {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list-item {
  margin-top: 40px;
  width: 50%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list-item-img {
  transform: trans;
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.projects-detail-window-close-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
  color: black;
}

.projects-detail-window div, h2{
  color: black;
}

.projects-detail-window li{
  color: black;
  margin-bottom: 30px;
}


.project-detail-window{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.project-detail-window-title{
  border-bottom: 3px solid black;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  width: calc(100% - 40px);
  height: 80px;
  overflow: hidden;
}

.project-detail-window-content{
  height: 100%;
  width: calc(100% - 40px);
  border-bottom: 3px solid black;
}

.project-detail-window-habing{
  height: 100%;
}

.project-detail-window-habing-page{
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.project-detail-window-habing-outline{
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

.project-detail-window-habing-outline div{
  height: 30px;
  /* overflow: hidden; */
}

.project-detail-window-habing-outline-role{
  height: 150px !important;
  display: flex;
  width: 794.81px;
}

.project-detail-window-habing-outline-role-content{
  height: 100% !important;
}

.project-detail-window-habing-content{
  padding: 1rem 0 1rem 0;
}

.project-detail-window-progress{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 447.24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}


.project-detail-window-progress-btn{
  border: 1px solid black;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.project-detail-window-progress-btn-active{
  font-weight: bold;
  background-color: #cccccc;
}
.info-detail-content-select{
  height: 100%;
}

.info-detail-content-select li div:nth-child(1){
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-detail-content-select li div:nth-child(2){
  margin-bottom: 20px;
  margin-left: 20px;
}

.project-link{
  height: 23px;
  overflow: hidden;
  text-decoration:none;
  color: #555555;
  font-size: 20px;

}



@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
